/* Importa uma fonte do Google */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

/* Estilo para links */
a {
    color: inherit; /* Mantém a cor do texto original */
    text-decoration: none; /* Remove o sublinhado */
}

/* Reset básico */
* {
    margin: 0; /* Remove margens padrão de todos os elementos */
    padding: 0; /* Remove padding padrão de todos os elementos */
    box-sizing: border-box; /* Inclui padding e border no cálculo da largura e altura */
}

/* Definições de estilo globais */
body {
    font-family: 'Roboto', sans-serif; /* Define a fonte do corpo do texto */
    background-color: #000049; /* Cor de fundo da página */
    color: white; /* Cor do texto */
    line-height: 1.6; /* Altura da linha para melhor legibilidade */
    padding-bottom: 50px; /* Espaço extra para evitar sobreposição com o rodapé em mobile */
}

/* Cabeçalho */
header {
    background-color: #002D62; /* Cor de fundo do cabeçalho */
    padding: 15px; /* Espaçamento interno do cabeçalho */
    position: sticky; /* Mantém o cabeçalho fixo no topo ao rolar a página */
    top: 0; /* Posiciona no topo */
    z-index: 1000; /* Garante que o cabeçalho fique acima de outros elementos */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Sombra do cabeçalho */
    overflow: hidden; /* Previne que o conteúdo ultrapasse os limites do cabeçalho */
}

nav {
    display: flex; /* Usa flexbox para o layout do menu */
    justify-content: space-between; /* Espaça os itens do menu */
    align-items: center; /* Alinha os itens verticalmente ao centro */
}

#logo-marca {
    transform: translateX(-98px); /* Ajusta a posição do logo */
    width: 400px; /* Largura do logo */
    height: auto; /* Mantém a proporção do logo */
}

.menu {
    display: flex;
    align-items: center;
}

#menu-btn {
    font-size: 32px;
    background: none;
    border: none;
    color: white;
    cursor: pointer;
    margin-right: 10px;
}



/* Banner principal */
.main-banner {
    text-align: center; /* Centraliza o texto no banner */
    padding: 30px 15px; /* Espaçamento interno do banner */
    background-color: #000049; /* Cor de fundo do banner */
}

.main-banner h1 {
    font-size: 2.5rem; /* Tamanho da fonte do título */
    margin-bottom: 20px; /* Espaçamento abaixo do título */
    color: white; /* Cor do texto do título */
}


/* Estilo para o vídeo */
.banner-video {
    width: 100%; /* Largura total do vídeo */
    max-width: 400px; /* Largura máxima do vídeo */
    border-radius: 15px; /* Bordas arredondadas do vídeo */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Sombra do vídeo */
    margin-top: 20px; /* Espaçamento acima do vídeo */
}

/* Seção de funcionalidades */
.features {
    display: grid; /* Usa grid para layout de funcionalidades */
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr)); /* Define colunas responsivas */
    grid-gap: 20px; /* Espaçamento entre os itens da grade */
    padding: 20px; /* Espaçamento interno da seção */
    background-color: #002D62; /* Cor de fundo da seção de funcionalidades */
}

.feature-item {
    background-color: #003580; /* Cor de fundo dos itens de funcionalidades */
    padding: 20px; /* Espaçamento interno dos itens */
    text-align: center; /* Centraliza o texto nos itens */
    border-radius: 10px; /* Bordas arredondadas dos itens */
    transition: transform 0.3s ease, box-shadow 0.3s ease; /* Transição suave para efeitos de hover */
}

.feature-item:hover {
    transform: scale(1.05); /* Aumenta o tamanho do item ao passar o mouse */
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.2); /* Aumenta a sombra ao passar o mouse */
}

.feature-item img {
    width: 50px; /* Largura da imagem dos itens */
    margin-bottom: 10px; /* Espaçamento abaixo da imagem */
}

.feature-item p {
    color: #ffffffb3; /* Cor do texto das descrições */
    font-size: 1rem; /* Tamanho da fonte das descrições */
    margin-top: 10px; /* Espaçamento acima da descrição */
}

/* Seção de notícias */
.news-section {
    display: grid; /* Usa grid para layout de notícias */
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr)); /* Define colunas responsivas */
    grid-gap: 20px; /* Espaçamento entre os itens da grade */
    padding: 20px; /* Espaçamento interno da seção */
    background-color: #FF4500; /* Cor de fundo da seção de notícias */
}

.news-item {
    background-color: white; /* Cor de fundo dos itens de notícias */
    color: #000049; /* Cor do texto das notícias */
    padding: 15px; /* Espaçamento interno dos itens */
    border-radius: 8px; /* Bordas arredondadas dos itens */
    text-align: center; /* Centraliza o texto nos itens */
    transition: transform 0.3s ease, box-shadow 0.3s ease; /* Transição suave para efeitos de hover */
}

.news-item:hover {
    transform: scale(1.05); /* Aumenta o tamanho do item ao passar o mouse */
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.2); /* Aumenta a sombra ao passar o mouse */
}

.social-icons {
    display: flex; /* Usa flexbox para os ícones sociais */
    justify-content: center; /* Centraliza os ícones */
    margin-top: 10px; /* Espaçamento acima dos ícones sociais */
}

.social-icons a {
    margin: 0 10px; /* Espaçamento entre os ícones sociais */
    text-decoration: none; /* Remove o sublinhado dos links dos ícones */
}

.social-icons img {
    width: 30px; /* Largura dos ícones sociais */
    height: 30px; /* Altura dos ícones sociais */
}

/* Estilos responsivos */
@media (max-width: 768px) {
    nav {
        flex-direction: column; /* Altera a direção do menu para coluna em telas pequenas */
        align-items: flex-start; /* Alinha os itens do menu à esquerda */
    }

    .main-banner h1 {
        font-size: 2rem; /* Reduz o tamanho do título no banner em telas pequenas */
    }


    .features {
        grid-template-columns: 1fr; /* Uma coluna para funcionalidades em telas pequenas */
    }

    .news-section {
        grid-template-columns: 1fr; /* Uma coluna para notícias em telas pequenas */
    }
    
     #menu-btn {
     display: block;
     font-size: 38px;
 
    }

}

@media (min-width: 769px) and (max-width: 1024px) {
    .main-banner h1 {
        font-size: 2.2rem; /* Ajusta o tamanho do título no banner para telas médias */
    }

    .features {
        grid-template-columns: repeat(2, 1fr); /* Duas colunas para funcionalidades em telas médias */
    }

    .news-section {
        grid-template-columns: repeat(2, 1fr); /* Duas colunas para notícias em telas médias */
    }
}

@media (min-width: 769px) {
    #menu-list {
        display: flex; /* Mostra a lista de menu em dispositivos maiores */
        position: static; /* Fixa a lista de menu no cabeçalho */
        opacity: 1;
        transform: none;
        box-shadow: none;
        background-color: transparent;
        padding: 0;
    }


    .menu-list ul {
        display: flex;
    }

    .menu-list ul li {
        margin: 0 10px;
    }

    #menu-btn {
        display: none; /* Esconde o botão de menu em dispositivos maiores */
    }
}

/* Menu expansível */
.menu-list {
    position: absolute;
    top: 0px;
    right: 0px;
    background-color: #002D62;
    border-radius: 5px;
    padding: 0px 0px 50px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);
    display: none;
    z-index: 1000;
    opacity: 0;
    transform: translateY(-10px);
    transition: all 0.3s ease-in-out;
}

.menu-list.show {
    display: block;
    opacity: 1;
    transform: translateY(0);
}

.menu-list ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.menu-list ul li {
    margin: 10px 20px;
}

.menu-list ul li a {
    text-decoration: none;
    color: white;
    font-size: 18px;
    font-weight: 500;
    display: flex;
    align-items: center;
    transition: color 0.3s ease;
}

.menu-list ul li a i {
    margin-right: 10px;
    font-size: 18px;
    color: yellow;
}

.menu-list ul li a:hover {
    color: #FF4500;
}

.menu-btn {
    font-size: 34px;
    background: none;
    border: none;
    color: white;
    cursor: pointer;
    margin-right: 10px;
    transition: transform 0.3s ease;
}

#menu-btn:hover {
    transform: none;
}

.hidden {
    display: none;
}
